body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    height: 384px;
    width: 384px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid bisque;
}

.square{
    height: 20px;
    width: 20px;
    border: 2px solid bisque; 
}

.color-change{
    background-color: aqua;
}

#gridInput {
    margin: 20px 0;
}
